:root {
  --main-bg-color: rgb(59, 60, 65);
  --underline-border: 1px solid rgb(12, 12, 12);
  --main-border: 1px solid rgb(12, 12, 12);
  --headline-color: #90daf8;
  --blockquote-bg-color: rgb(12, 12, 12);
  --main-color: white;
}
