body {
  font-family: 'Helvetic Neue', Helvetica, Arial, sans-serif;
  font-weight: lighter;
  min-height: 200px;
}

div {
  display: flex;
}

h3 {
  text-align: center;
  font-variant: small-caps;
  border-bottom: 1px dotted rgb(15, 15, 85);
}

input, button {
  font-family: 'Helvetic Neue', Helvetica, Arial, sans-serif;
  font-size: 0.9em;
}

#info_box {
  float: left;
  position: absolute;
  font-size: 75%;
  top: 0.2em;
  right: 1.5em;
  text-align: right;
  line-height: 1.5em;
}

#ver_box {
  display: block;
  position: absolute;
  font-size: 85%;
  top: 0.2em;
  font-variant: small-caps;
  color: #999;
}

#err_show_box {
  display: block;
  float: left;
  position: absolute;
  font-size: 75%;
  bottom: 1em;
  left: 1.5em;
}

#spacer {
  display: block;
  width: 100%;
  height: 3em;
}

#save {
  margin-top: 2em;
}

#form_container {
  width: 100%;
}

#local_container {
  padding-top: 0.5em;
  display: none;
}

.local_format {
  margin: 0.5em;
}

.local_format input {
  margin-left: 3px;
}

.popup_general {
  position: absolute;
  top: 20px;
  left: 20px;
  background: rgba(211, 233, 243, 0.95);
  padding: 20px;
  border-radius: 6px;
  z-index: 999;
}

#img_annotate {
  display: block;
}

.bordered {
  border: 1px dotted rgb(15, 15, 85);
  border-radius: 0.5em;
}

#add_be_container {
  padding-top: 2em;
  display: none;
  width: 218px;
}

#err_box {
  display: none;
  width: 78%;
  max-width: 315px;
  max-height: 185px;
  font-size: 0.75em;
  overflow: scroll;
}

#ephemeral {
  display: none;
  color: green;
}

#logo {
  position: absolute;
  top: 15px;
  right: 10px;
}

#set_uid {
  size: 80%;
}

label {
  margin-top: 7px;
}

.add_be_label {
  width: 70px;
  display: inline-block;
}

li {
  font-family: 'Courier New', Courier, monospace;
  line-height: 1.5em;
}

.be_del_name {
  font-family: 'Courier New', Courier, monospace;
}

#annotation {
  width: 250px;
  height: 75px;
  margin: 5px 0 5px 0;
}

#annotate_button {
  float: right;
  margin-bottom: 10px;
}

.keyicon {
  width: 12px;
  height: 12px;
  margin-bottom: -2px;
}

h4 {
  margin-top: 0;
}

#logo_img {
  display: none;
}

.unreachable  {
  text-decoration: line-through;
  color: red;
}

.be_list_ele_tmpl {
  list-style: none;
}

#backend_list {
  padding-inline-start: 10px;
}

#anno_sel {
  margin: '0.5em 1.5em 0px';
  font-family: Courier, monospace;
  font-size: '1.1em';
  border: '2px solid #83d0f2';
  border-width: '2px 0';
}

.col-dir {
  flex-direction: column;
}

.col-dir-r {
  flex-direction: column-reverse;
}

.row-dir {
  flex-direction: row;
}

.ctrl-box {
  padding: 1em;
  margin: 0.5em;
}

.algn-r {
  text-align: right;
}

.dsp-i {
  display: inline;
}

.search_res_row {
  margin: 0.4em;
  padding: 0.6em;
}

#search_res {
  max-width: 768px;
}

video, img {
  max-width: 752px;
  max-height: 752px;
}

#search_res_info {
  text-align: center;
  margin: 0.3em;
  font-size: 1.2em;
}

blockquote {
  font-size: 1.1em;
  background-color: rgb(253, 249, 229);
  padding: 1em;
  border-left: 5px solid rgb(98, 134, 163);
}